.course-details-container{
    width: 60%;
}
.course-details{
    position: relative;
}
.download-icon{
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
    background-color: rgba(61, 61, 61, 0.24);
    padding: 2px 10px;
    padding-bottom: 8px;
    border-radius: 50%;
    border: 1px solid transparent;
}
.download-icon2{
    position: relative;
    margin-left: 10px;
    bottom: 4px;
    color: rgb(170, 35, 12);
}
 .download-icon2:hover{
    color: rgb(238, 49, 15);
 }
.download-icon:hover{
    border: 1px solid rgba(12, 78, 116, 0.63);
    background-color: rgba(61, 61, 61, 0.158);
    color: rgb(12, 159, 245);
}

.course-details-header{
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media screen and (max-width: 688px){
    .course-details-container{
        width: 100%;
    }
}