.login-container {
  min-height: 780px;
  padding-top: 20px;
  background-image: url("../../Images/login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: relative;
  z-index: 1;
  margin-top: -25px;
  box-sizing: border-box;
}
.login {
  width: 80%;
  margin: 15px auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #35404e3a;
  box-sizing: border-box;
  text-align: center;
  color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10;
}
form h1 {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
}
.login input {
  display: block;
  margin: 10px auto;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  margin-right: 0;
  box-sizing: border-box;
}
.login-container button{
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: none;
}
.forget-password, .register-link {
  margin-top: -1px;
  color: #f78606;
  font-weight: 700;
}
.forget-password:hover, .register-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hr {
  margin-top: 50px;
  position: relative;
}
.hr small {
  font-size: 1.8rem;
  border-radius: 50%;
  background-color: #2c3949;
  padding: 8px 15px;
  position: absolute;
  top: -28px;
  margin-left: -30px;
}
.hr hr {
  width: 100%;
}
.sign-with-social-media {
    margin-top: 5%;
}
.sign-in-icons {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.sign-in-icons h2 {
  padding: 4px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
#google {
  background-color: #cf4832;
}

#github {
  background-color: #22272b;
}

input{
    padding: 8px 5px;
    border: 1px solid #0e85d4a8;
    outline: none;
    background-color: #374351
}
input[type="text"]{
    font-size: 1.2rem;
    color: white;
}
input[type="email"]{
    font-size: 1.2rem;
    color: white;
}
input[type="password"]{
    font-size: 1.2rem;
    color: white;
}


input[type="submit"] {
  outline: none;
  border: none;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(236, 172, 34);
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}
.submit-btn {
  width: 250px;
  padding: 0.6em 1.8em;
  border: 2px solid rgb(14, 133, 212);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s ease-in;
  z-index: 1;
  font-family: inherit;
  color: rgb(14, 133, 212);
  margin: 0 auto;
  margin-top: 20px;
}
.submit-btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background:rgb(14, 133, 212);
  transition: 0.5s ease-in-out;
  display: block;
  z-index: -1;
}

.submit-btn:hover::before {
  width: 105%;
}

.submit-btn:hover {
  color: white;
}

::placeholder {
  font-size: 1rem;
  color: rgb(190, 190, 190);
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.6s 0.5s ease-in-out;
  text-indent: -100%;
  opacity: 1;
}



